# Build results
bin/
obj/
*.exe
*.dll
*.pdb

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio folders
.vs/
.vscode/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Dotnet CLI
*.deps.json
*.runtimeconfig.json

# Logs and cache
*.log
*.sdf
*.cache
*.db

# OS junk files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.DS_Store

# JetBrains Rider / ReSharper
.idea/
*.sln.iml
_ReSharper*/
*.resharper

# Others
*.tmp
*.bak
